@model com.Sconit.Entity.ORD.IpMaster
@using com.Sconit.Web.Models.SearchModels.ORD
@Html.Partial("_AjaxMessage")
<script type="text/javascript">
    function IpQuery() {
        var data = {
            "IpNo": $('#IpNo').val(),
            "Item": $('#ItemIpMaster').val()
        };
        $.ajax({
            type: "post",
            dataType: "html",
            url: "@Url.Content("~/SupplierPrintHu/IpDetailList/")",
            cache: false,
            data: data,
            success: function (data, textStatus) {
                var tabStrip = $("#TabStrip");
                var tabStripContent2 = tabStrip.data("tTabStrip").getContentElement(2);
                $(tabStripContent2).html(data);
            }
        });
    }

    function onCreateByIpDetail(isExport) {
        ClearMessage();
        var grid = $("#IpDetail").data("tGrid");
        if (grid == null || grid == undefined) {
            $message.error('打印明细不能为空。');
            return;
        }
        var rows = grid.$tbody.children("tr:not(.t-no-data)");
        var idStr = "";
        var ucStr = "";
        var qtyStr = "";
        var supplierLotNoStr = "";

        for (var rowIndex = 0; rowIndex < rows.length; rowIndex++) {
            var row = $(rows[rowIndex]);
            var huQty = row.find("#HuQty").val();
            if (huQty != "" && huQty != 0) {
                var id = row.find("#Id").val();
                var uc = row.find("#UnitCount").val();
                if (uc == "" || uc == undefined) {
                    uc = $(row.find("#UnitCount")).attr("key")
                }
                if (uc == "" || uc == undefined) {
                    $message.error('第' + (rowIndex + 1) + '行单包装不能为空.');
                    return;
                }
                var isChangeUC = row.find("#IsChangeUnitCount").val();
                if (isChangeUC == "false" && parseFloat(huQty) % parseFloat(uc) > 0) {
                    $message.error('行' + (rowIndex + 1).toString() + '的数量' + huQty.toString("0.##") + '不是单包装' + uc.toString("0.##") + '的整数倍.');
                    return;
                }
                var supplierLotNo = row.find("#SupplierLotNo").val();
                if (idStr == "") {
                    idStr = id;
                    ucStr = uc;
                    supplierLotNoStr = supplierLotNo;
                    qtyStr = huQty;
                } else {
                    idStr += "," + id;
                    ucStr += "," + uc;
                    supplierLotNoStr += "," + supplierLotNo;
                    qtyStr += "," + huQty;
                }

            }
        }

        if (idStr == "") {
            $message.error('明细不能为空.');
            return;
        }

        if (isExport) {
            $("#IpDetailidStr").val(idStr);
            $("#IpDetailucStr").val(ucStr);
            $("#IpDetailsupplierLotNoStr").val(supplierLotNoStr);
            $("#IpDetailqtyStr").val(qtyStr);
            $("#IpDetailisExport").val(isExport);
            $("#hiddenIpDetailForm").submit();
        } else {
            var data = {
                "IpDetailidStr": idStr,
                "IpDetailucStr": ucStr,
                "IpDetailsupplierLotNoStr": supplierLotNoStr,
                "IpDetailqtyStr": qtyStr,
                "IpDetailisExport": isExport
            }
            $.ajax({
                type: "post",
                dataType: "Json",
                data: data,
                async: false,
                url: "@Url.Content("~/SupplierPrintHu/CreateHuByIpDetail/")",
                cache: false,
                success: function (data, textStatus) {
                    DisplayJsonMessages(data);
                    if (data.Data.PrintUrl != "") {
                        PrintOrder(data.Data.PrintUrl);
                    }


                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    DisplayTextMessages(XMLHttpRequest.responseText);
                }
            });
        }

    }

  
</script>
<fieldset>
    <div class="search">
        <div class="search-label">
            <label>
                @Resources.ORD.IpDetail.IpDetail_IpNo
            </label>
        </div>
        <div class="search-field">
            @Html.TextBox("IpNo", TempData["IpDetailSearchModel"] != null ? ((IpDetailSearchModel)TempData["IpDetailSearchModel"]).IpNo : string.Empty)
        </div>
        <div class="search-label">
            <label>
                @Resources.ORD.IpDetail.IpDetail_Item
            </label>
        </div>
        <div class="search-field">
            @{
                Html.RenderAction("_ItemComboBox", "Common",
                    new
                    {
                        controlName = "ItemIpMaster",
                        selectedValue = TempData["IpDetailSearchModel"] != null ? ((IpDetailSearchModel)TempData["IpDetailSearchModel"]).Item : string.Empty
                    });   
            }
        </div>
    </div>
    <div class="editor-footer">
        <button type="button" id="Search" onclick="IpQuery()">
            @Resources.Global.Button_Search</button>
        @* @Html.Button(Resources.Global.Button_New, "Url_Supplier_Print_ADD", new Dictionary<string, string>()
	            {
	                {"type", "button"},
	                {"id", "btnNew"},
                    {"needconfirm","true"},
                    {"onclick","onCreateByIpDetail()"}
	            })*@
        @Html.Button(Resources.Global.Button_Print, "Url_Supplier_Print_ADD", new Dictionary<string, string>()
	            {
	                {"type", "button"},
	                {"id", "btnPrint"},
                    {"needconfirm","true"},
                    {"onclick","onCreateByIpDetail(false)"}
	            })
        @Html.Button(Resources.Global.Button_Export, "Url_Supplier_Print_ADD", new Dictionary<string, string>()
	            {
	                {"type", "button"},
	                {"id", "btnExport"},
                    {"needconfirm","true"},
                    {"onclick","onCreateByIpDetail(true)"}
	            })
    </div>
</fieldset>
<form id="hiddenIpDetailForm" action="@Url.Content("~/SupplierPrintHu/CreateHuByIpDetail")" target="_blank"
method="post">
<input id="IpDetailqtyStr" name="IpDetailqtyStr" type="hidden" />
<input id="IpDetailucStr" name="IpDetailucStr" type="hidden" />
<input id="IpDetailidStr" name="IpDetailidStr" type="hidden" />
<input id="IpDetailsupplierLotNoStr" name="IpDetailsupplierLotNoStr" type="hidden" />
<input id="IpDetailisExport" name="IpDetailisExport" type="hidden" />
</form>
