@using com.Sconit.Entity.SYS
@using com.Sconit.Entity.MD
@using com.Sconit.Web.Models.SearchModels.MD
<fieldset>
    @using (Html.BeginForm())
    {   
        <div class="search">
            <div class="search-label">
            <label for="Location_Code">
                @Resources.MD.Location.Location_Code
                 </label>
            </div>
            <div class="search-field">
                 @ViewBag.LocationCode
            </div>
            <div class="search-label">
            <label for="LocationArea_Code">
                @Resources.MD.LocationArea.LocationArea_Code
                 </label>
            </div>
            <div class="search-field">
             @{
                    Html.RenderAction("_LocationAreaDropDownList", "Common", 
                        new { controlName = "Area", includeBlankOption = true, 
                            LocationCode = ViewBag.LocationCode,
                            selectedValue =TempData["LocationBinSearchModel"] != null ? ((LocationBinSearchModel)TempData["LocationBinSearchModel"]).Area : string.Empty });
                }
            </div>
            <div class="search-label">
                <label for="LocationBin_Code">
                    @Resources.MD.LocationBin.LocationBin_Code
                </label>
            </div>
            <div class="search-field">
                @Html.TextBox("BinCode", TempData["LocationBinSearchModel"] != null ? ((LocationBinSearchModel)TempData["LocationBinSearchModel"]).Code : string.Empty)
            </div>
            <div class="search-label">
                <label for="LocationBin_Name">
                    @Resources.MD.LocationBin.LocationBin_Name
                </label>
            </div>
            <div class="search-field">
                @Html.TextBox("BinName", TempData["LocationBinSearchModel"] != null ? ((LocationBinSearchModel)TempData["LocationBinSearchModel"]).Name : string.Empty)
            </div>
        </div>
        <div class="search-footer">
            @Html.Hidden("isFromList", true)
            <button type="button" id="btnBinSearch" onclick="btnSearchLocationBin_Click();">
                @Resources.Global.Button_Search</button>
            <button type="button" id="btnBinNew" onclick="btnNewLocationBin_Click();">
                @Resources.Global.Button_New</button>
        </div>

    }
</fieldset>

<script language="javascript" type="text/javascript">
    function btnNewLocationBin_Click() {
        var data = {
            "locationCode": $("#LocationCode").val()
        };
        $.ajax({
            type: "get",
            dataType: "html",
            url: "@Url.Content("~/location/_LocationBinNew/")",
            data: data,
            cache: false,
            success: function (data, textStatus) {
                var tabStrip = $("#TabStrip");
                var tabStripContent2 = tabStrip.data("tTabStrip").getContentElement(2);
                $(tabStripContent2).html(data);
            }
        });
    }

    function btnSearchLocationBin_Click() {
        var data = {
            "locationCode":$("#LocationCode").val(),
            "Code": $("#BinCode").val(),
            "Name": $("#BinName").val(),
            "Area": $("#Area").val(),
            "isFromList": "true"
        };
        $.ajax({
            type: "post",
            dataType: "html",
            url: "@Url.Content("~/location/_LocationBinList/")",
            data: data,
            cache: false,
            success: function (data, textStatus) {
                var tabStrip = $("#TabStrip");
                var tabStripContent2= tabStrip.data("tTabStrip").getContentElement(2);
                $(tabStripContent2).html(data);
            }
        });
    }
</script>